.footer {
  position: fixed !important;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: #9d8989;
  height: 100px;
}

.bottom-info {
  font-size: 10px;
}

.info {
  color: #e8e3dc;
  font-weight: bold;
}
